@model ClinicaVeterinaria.Models.ModelTipoAnimal

@{
    ViewBag.Title = "ConsAnimal";
}

<h2>ConsAnimal</h2>

<div>
    <h4>ModelTipoAnimal</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.codTipoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codTipoAnimal)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.tipoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnimal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
